---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$thm-fonts-path: "/assets/fonts";

$fa-font-path:  $thm-fonts-path + "/fontawesome";
$OpenSansPath:  $thm-fonts-path + "/open-sans";

// Our variables
$base-font-family: 'Open Sans', serif; // TODO
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #363a41;
$white-text-color:  #f9f9f9;
$background-color: #ffffff;
$dark-background-color: #333333;
$brand-color:      #2a7ae2;
$brand-color-2:    #df0067;
$brand-color-3:    #1da6c2;
$code-bg-color:    #fafaff;

$grey-color:       #939393;
$grey-color-light: #e8e8e8;
$grey-color-dark:  #555555;



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        // fonts
        "prestashop-icon-font/prestashop-icon-font.scss",
        "open-sans-fontface/open-sans.scss",

        // Core variables and mixins
        "bootstrap/variables",
        "bootstrap/mixins",

        // Reset and dependencies
        "bootstrap/normalize",
        "bootstrap/print",
        //"bootstrap/glyphicons",

        "basic",

        // Core CSS
        "bootstrap/scaffolding",
        "bootstrap/type",
        //"bootstrap/code",
        "bootstrap/grid",
        "bootstrap/tables",
        "bootstrap/forms",
        "bootstrap/buttons",

        // Components
        "bootstrap/component-animations",
        //"bootstrap/dropdowns",
        "bootstrap/button-groups",
        "bootstrap/input-groups",
        "bootstrap/navs",
        "bootstrap/navbar",
        //"bootstrap/breadcrumbs",
        //"bootstrap/pagination",
        "bootstrap/pager",
        "bootstrap/labels",
        "bootstrap/badges",
        //"bootstrap/jumbotron",
        "bootstrap/thumbnails",
        "bootstrap/alerts",
        //"bootstrap/progress-bars",
        //"bootstrap/media",
        "bootstrap/list-group",
        //"bootstrap/panels",
        "bootstrap/responsive-embed",
        //"bootstrap/wells",
        "bootstrap/close",

        // Components w/ JavaScript
        //"bootstrap/modals",
        //"bootstrap/tooltip",
        //"bootstrap/popovers",
        //"bootstrap/carousel",

        // Utility classes
        "bootstrap/utilities",
        "bootstrap/responsive-utilities",

        "base",
        "syntax-highlighting"
;
