name: PrestaShop Build

services:
  server:
    image: hugomods/hugo:exts-0.154.2
    command: hugo server --bind 0.0.0.0 --port 1313 --baseURL / --appendPort=false
    volumes:
      - ./:/src
      - ~/hugo_cache:/tmp/hugo_cache
    ports:
      - 1313:1313
