---
layout: default
permalink: /tools/
---

<div class="">

  <h1 class="page-heading">Tools</h1>

  <p class="page-subtitle">Some tools we developed to make your life easier.</p>


  <ul class="howtos-list">
    {% for tool in site.categories.tools %}

      {% unless tool.published == false %}
      <li>
        <a href="{{ tool.url }}">

          <h4>&rarr; {{ tool.title }}</h4>

          {% if tool.subtitle %}
            <pan class="subtitle">{{ tool.subtitle }}</span>
          {% endif %}
        </a>
      </li>
      {% endunless %}

    {% endfor %}
  </ul>

</div>
