<div class="author-avatar clearfix">
  {% for a in page.authors %}
    <img class="img-circle" src="{{ site.data.authors[a]["avatar"] }}" alt="{{ site.data.authors[a]["display_name"] }}'s photo">
  {% endfor %}
</div>

<div class="aside-meta">Written by</div>
<div class="author-name">
  {% for a in page.authors %}
      <div class="author-item">
          <div class="author-display-name">{{ site.data.authors[a]["display_name"] }}</div>
      {% unless site.data.authors[a]["role"] == '' %}
          <div class="author-display-role">{{ site.data.authors[a]["role"] }}</div>
      {% endunless %}
      </div>
  {% endfor %}
</div>
