<footer class="site-footer">

  <div class="container">

    <div class="row">
      <div class="col-sm-12 col-md-8 col-md-offset-2">
        <p>{{ site.description }}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-8 col-md-offset-2">
        <p>
          <a href="http://www.prestashop.com" target="_self" title="Create your online store with PrestaShop">
            <img id="logo-dotcom" src="/assets/images/theme/logo-prestashop-com.png" alt="Create your online store">
          </a>
        </p>
      </div>
    </div>

    <div class="row">
      <div id="social-icons" class="col-sm-12 col-md-6 col-md-offset-3">

          <a href="{{ "/feed.xml" | prepend: site.baseurl }}" title="">
            <i class="icon-rss"></i>
          </a>

          {% if site.github_username %}
            <a href="https://github.com/{{ site.github_username }}" title="">
              <i class="icon-github"></i>
            </a>
          {% endif %}

          {% if site.twitter_username %}
            <a href="https://twitter.com/{{ site.twitter_username }}" title="">
              <i class="icon-twitter"></i>
            </a>
          {% endif %}

          {% if site.instagram_username %}
            <a href="https://instagram.com/{{ site.instagram_username }}" title="">
              <i class="icon-photobucket"></i>
            </a>
          {% endif %}

          {% if site.spotify_username %}
            <a href="https://play.spotify.com/user/{{ site.spotify_username }}" title="">
              <i class="icon-spotify"></i>
            </a>
          {% endif %}

          <span class="separator"> | </span>

          {% if site.status_page_url %}
            <a href="{{ site.status_page_url }}" title="PrestaShop Cloud Health">
              <i class="icon-sign"></i>
            </a>
          {% endif %}

      </div>
    </div>

  </div>

</footer>
