<footer class="site-footer">

  <div class="container">

    <div class="row">
      <div class="col-sm-12 col-md-8 col-md-offset-2">
        <p>{{ site.description }}</p>
      </div>
    </div>

    <div class="row">
      <div id="social-icons" class="col-sm-12 col-md-4 col-md-offset-4">
          {% if site.github_username %}
            <a href="https://github.com/{{ site.github_username }}">
              {% icon fa-github fa-2x %}
            </a>
          {% endif %}

          {% if site.twitter_username %}
            <a href="https://twitter.com/{{ site.twitter_username }}">
              {% icon fa-twitter fa-2x %}
            </a>
          {% endif %}

          {% if site.instagram_username %}
            <a href="https://instagram.com/{{ site.instagram_username }}">
              {% icon fa-instagram fa-2x %}
            </a>
          {% endif %}
      </div>
    </div>

  </div>

</footer>
