<footer class="site-footer">

  <div class="container">

    <div class="row">
      <div class="col-sm-12 col-md-8 col-md-offset-2">
        <p>Official blog for PrestaShop development written by
          <a href="{{ '/authors' | prepend: site.baseurl }}">
            the product and core dev team, and PrestaShop contributors
          </a>.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-8 col-md-offset-2">
        <p>
          <a href="http://www.prestashop.com" target="_self" title="Create your online store with PrestaShop">
            <img id="logo-dotcom" src="/assets/images/theme/logo-prestashop-com.png" alt="Create your online store">
          </a>
        </p>
      </div>
    </div>

    <div class="row">
      <div id="social-icons" class="col-sm-12 col-md-6 col-md-offset-3">

          <a href="https://www.facebook.com/prestashop/" title="Facebook page">
            <i class="icon-facebook-alt"></i>
          </a>
        
          <a href="https://www.youtube.com/user/prestashop" title="YouTube account">
            <i class="icon-youtube-alt"></i>
          </a>

          {% if site.github_username %}
            <a href="https://github.com/{{ site.github_username }}" title="GitHub repository">
              <i class="icon-github"></i>
            </a>
          {% endif %}

          {% if site.twitter_username %}
            <a href="https://twitter.com/{{ site.twitter_username }}" title="Twitter account">
              <i class="icon-twitter"></i>
            </a>
          {% endif %}

          {% if site.instagram_username %}
            <a href="https://instagram.com/{{ site.instagram_username }}" title="Instagram account">
              <i class="icon-camera"></i>
            </a>
          {% endif %}
        
          <a href="{{ "/feed.xml" | prepend: site.baseurl }}" title="RSS feed for this blog">
            <i class="icon-rss"></i>
          </a>

      </div>
    </div>

  </div>

</footer>
