<header class="site-header">

  <div class="container">
    <div class="row">

      <div class="col-sm-12 col-md-8">
        <a class="site-title" href="{{ site.baseurl }}/">(new PrestaShop())->build();</a>
      </div>

      <div class="col-sm-12 col-md-4">
        <nav class="site-nav">
          <ul class="nav nav-pills pull-right">

            <li><a class="page-link" href="{{ '/' | prepend: site.baseurl }}">News</a></li>

            <li><a class="page-link" href="{{ '/how-tos' | prepend: site.baseurl }}">How-Tos</a></li>

            <li><a class="page-link" href="{{ '/about' | prepend: site.baseurl }}">About</a></li>

          </ul>
        </nav>
      </div>

    </div>
  </div>

</header>
