<header class="site-header{% if page.show_search %} has-search-form{% endif %}">

  <div class="container">
    <div class="row clearfix">

      <div class="menu-button"><i class="icon icon-store"></i></div>
      <div class="search-button"><i class="icon icon-magnifying-glass"></i></div>

      <div id="logo" class="">
        {% if page.type == "home" %}
          <h1 class="sr-only">Prestashop Developer's Blog</h1>
        {% endif %}
        <a href="{{ site.url }}{{ site.baseurl }}">
          <img src="{{ "/assets/images/theme/new-logo.png" | prepend: site.baseurl }}" alt="Prestashop Developer's Blog Logo">
        </a>
      </div>

      <div id="navigation" class="">

        {% include nav.html %}

      </div>

      <div id="algolia-container">
        <div class="aa-input-container" id="aa-input-container">
          <input type="search" id="aa-search-input" class="aa-input-search form-control" placeholder="Search..." name="search" autocomplete="off" />
        </div>
      </div>

    </div>
  </div>

</header>
