<head>
    <meta charset="utf-8">

    {% seo %}

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.url }}?{{site.time | date: '%s%N'}}">

    <link rel="shortcut icon" type="image/png" href="/favicon.png" />

    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% feed_meta %}

    {% if page.twitter_image %}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@PrestaShop">
        <meta name="twitter:title" content="{{ page.title }}">
        <meta name="twitter:description" content="{{ page.subtitle }}">
        <meta name="twitter:image" content="{{ page.twitter_image | prepend: site.url }}">
    {% endif %}

    {% include analytics.html %}

</head>
