<nav>
  <ul id="main-navigation" class="nav navbar-nav navbar-collapse">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        News <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="{{ '/tag/releases/' | prepend: site.baseurl }}">Latest releases</a></li>
        <li><a href="{{ '/tag/core-weekly/' | prepend: site.baseurl }}">Core Weekly</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        Product <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="{{ '/tag/1.7/' | prepend: site.baseurl }}">Articles on 1.7</a></li>
        <li><a href="{{ '/tag/1.6/' | prepend: site.baseurl }}">Articles on 1.6</a></li>
        <li><a href="{{ '/news/prestashop-1-7-faq/' | prepend: site.baseurl }}">1.7 FAQ</a></li>
        <li><a href="http://build.prestashop.com/howtos/misc/2017-release-schedule/">2017 Release Schedule</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        Contribute <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="{{ '/howtos/misc/contribute-to-prestashop/' | prepend: site.baseurl }}">Contributor's guide</a></li>
        <li><a href="http://contributors.prestashop.com/">Contributor's page</a></li>
        <li><a href="http://translators.prestashop.com/">Translators' page</a></li>
        <li><a href="{{ '/about/#contribute' | prepend: site.baseurl }}">Contribute to this blog</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        Learn <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="{{ '/how-tos/' | prepend: site.baseurl }}">How-tos</a></li>
        <li><a href="{{ '/tools/' | prepend: site.baseurl }}">Tools</a></li>
        <li><a href="http://developers.prestashop.com/">Techdocs</a></li>
        <li><a href="http://build.prestashop.com/news/how-to-best-contact-us/">Techdocs</a></li>
      </ul>
    </li>
    <li class="">
      <a href="{{ '/about/' | prepend: site.baseurl }}">About</a>
    </li>
  </ul>
</nav>
