<nav>
  <ul class="nav navbar-nav">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        News <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#">Releases</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Community reports</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        Product <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#">1.7 Project</a></li>
        <li><a href="#">1.7 FAQ</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        Contribute <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#">Contributor's guide</a></li>
        <li><a href="#">Contributor's page</a></li>
        <li><a href="#">Translators' page</a></li>
        <li><a href="#">Contribute to this blog</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        Learn <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#">How-tos</a></li>
        <li><a href="#">Tools</a></li>
        <li><a href="#">Community reports</a></li>
      </ul>
    </li>
    <li class="">
      <a href="#">About</a>
    </li>
  </ul>
</nav>
