
  <div class="post-meta">
    <div class="row">

      <div class="col-md-4">
        <ul class="details">

          <li>{% icon fa-calendar %} {{ page.date | date: "%b %-d, %Y" }}</li>

          {% unless page.tags == empty %}
            <li>
              {% icon fa-tags %}

              {% for cat in page.tags %}
                <span class="label label-primary">{{ cat }}</span>
              {% endfor %}

            </li>
          {% endunless %}

        </ul>
      </div>

      <div class="col-md-8">
        <div class="author-details">

          <div class="row">
            <div class="col-md-11 col-md-offset-1">
              <h5>About the author</h5>

              <h4>
                {{ author.display_name }}
                <span>{{ author.role }}</span>
              </h4>
              <p>{{ author.description }}</p>

              {% if author.github %}
                <a class="btn btn-default btn-sm" href="https://github.com/{{ author.github }}">
                  <i class="fa fa-github"></i> GitHub
                </a>
              {% endif %}
              {% if author.forum %}
                <a class="btn btn-default btn-sm" href="https://www.prestashop.com/forums/user/{{ author.forum }}">
                  <i class="fa fa-comments"></i> Forum
                </a>
              {% endif %}
              {% if author.crowdin %}
                <a class="btn btn-default btn-sm" href="https://crowdin.com/profile/{{ author.crowdin }}">
                  <i class="fa fa-language"></i> Crowdin
                </a>
              {% endif %}
              {% if author.twitter %}
                <a class="btn btn-default btn-sm" href="https://twitter.com/{{ author.twitter }}">
                  <i class="fa fa-twitter"></i> Twitter
                </a>
              {% endif %}
              {% if author.website %}
                <a class="btn btn-default btn-sm" href="{{ author.website }}">
                  <i class="fa fa-home"></i> Website
                </a>
              {% endif %}
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
