
<div class="aside-meta">Share this</div>

<a href="https://twitter.com/intent/tweet?text={{ page.title | escape }}&amp;url={{ site.url }}{{ page.url }}&amp;via={{ site.twitter_username }}&amp;related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">
    <i class="icon-twitter-alt"></i>
</a>

<a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">
    <i class="icon-facebook-alt"></i>
</a>
