@media (min-width:990px) and (max-width: 2500px) {
    .container {
     width: $screen-md;
    }
}

@media only screen and (max-width : 989px) {
    #post-sidebar {
	    display: none;
    }
    .author-details {
	    padding-top: 20px;
    }
   .site-header {
   text-align: center;
       img {
	    margin-top: -30px;
	    width: 60% !important;
	    height: 60% !important;
    }
	.nav-pills {
		float: none !important;
	}
	.nav{
		display: inline-block !important;
	}
}
}

@media only screen and (max-width : 480px) {
    #post-sidebar {
	    display: none;
    }
    .author-details {
	    padding-top: 20px;
    }
   .site-header {
   text-align: center;
       img {
	    margin-top: -100px !important;
	    width: 100% !important;
	    height: 100% !important;
    }
	.nav-pills {
		float: none !important;
	}
	.nav{
		display: inline-block !important;
	}
}
}


/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 400;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}


.text-center {
    text-align: center;
}
.hint {
    color: $grey-color;
    font-style: italic;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm,
.vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}
.post-content img {
    @extend .img-responsive;
    margin: auto;
}

#logo-dotcom {
    width: 120px;
}

img.emoji {
    display: inline;
}


/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}

table {
    @extend .table;
    @extend .table-bordered;
    @extend .table-striped;
}

/**
 * Lists
 */
ul, ol {
/*     margin-left: $spacing-unit; */
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}
.post-meta {
    margin: 2.5*$spacing-unit 0 0;
    padding: 12px;
    border-top: 1px solid $grey-color-light;
    ul.details {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .author-details {
        h5 {
            font-weight: 500;
            margin-bottom: $spacing-unit/3;
        }
        h4 {
            margin-top: 0;
            font-weight: 600;
            span {
                padding-top: $spacing-unit/5;
                display: block;
                font-weight: 500;
                color: $grey-color;
                font-size: 0.8em;
            }
            span.multiple {
                display: inline;
            }
        }
        p {
            font-size: 0.9em;
        }
        .author-item {
            border-bottom: 1px solid $grey-color-light;
            padding: 10px 0;
        }
    }
}
a.list-group-item {
    display: block !important;
}

ul.post-list {
    list-style-type: none;
    margin: (2 * $spacing-unit) 0;
    li {
        padding-left: 5px;
        h2 {
            text-transform: capitalize;
            font-weight: 700;
            i {
                width: 32px;
                text-align: center;
                font-size: 55%;
                margin: 10px 0 0 -40px;
                position: absolute;
                color: $grey-color;
            }
            a {
                color: $text-color !important;
                &:hover {
                    color: $brand-color;
                }
            }
        }
        h4 {
            margin: ($spacing-unit / 4) 0 0 0;
            color: $brand-color-2;
            font-size: 75%;
            text-transform: uppercase;
            font-weight: 600;
        }
        p {
            margin-top: $spacing-unit / 2;
        }
    }
    .post-divider {
        height: 0px;
        margin: $spacing-unit 0 100px 0;
        border-top: 1px solid $grey-color-light;
    }
    .list-post-meta {
        color: $grey-color;
        font-size: 75%;
        text-transform: uppercase;
        span.separator:before {
            content: ' | ';
            padding: 6px;
        }
    }
}

.topic {
    margin: 64px 0 0 0;
    font-size: 1em;
    line-height: 2.2em;
    font-weight: 400;
    text-transform: capitalize;
    border-bottom: 1px solid $grey-color-light;
}

.topic i {
    font-size: .7em;
    color: $grey-color;
    margin-bottom: 5px;

}

.page-heading{
	 text-transform: capitalize;
     font-weight: 700;
}

.page-subtitle{
	  color: $brand-color-2;
      font-size: 75%;
      text-transform: uppercase;
      font-weight: 600;
      margin-top: -10px;
}

ul.howtos-list {
    list-style-type: none;
    margin: 16px 0;
    li a {
        margin-bottom: 16px;
        padding-left: 64px;
        color: $text-color;
        h4 {
            color: $text-color;
            margin: 0 0 0 30px;
            font-weight: 600;
            font-style: 1em;
            i {
                margin-left: -42px;
                width: 10px;
                text-align: center;
            }
        }
        &:hover {
            color: $brand-color;
        }
        .subtitle {
            margin: 0 0 0 55px;
            color: $grey-color;
            font-size: 0.8em;
        }
    }
}


/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    margin-top: 5px;
}

.post-header {
    margin: 2*$spacing-unit 0 2.5*$spacing-unit 15px;

    h1 {
        font-size: 2em;
        font-weight: 700;
        line-height: 1;
        margin: 0;
        text-transform: capitalize;
    }
    h3 {
        font-size: 0.8em;
        font-weight: 600;
        margin: 0.5*$spacing-unit 0 0 0;
        color: $brand-color-2;
        text-transform: uppercase;
    }
}
.post-content {
    padding: 0 $spacing-unit/2;

    h2 {
        font-size: 1.5em;
        font-weight: 700;
        margin: 2*$spacing-unit 0 $spacing-unit;
        padding-bottom: $spacing-unit / 3;
        border-bottom: 1px solid $grey-color-light;
    }
    h3 {
        font-size: 1.2em;
        font-weight: 700;
        margin: 1.5*$spacing-unit 0 $spacing-unit;
    }
    h4 {
        margin-top: $spacing-unit;
        font-size: 1.2em;
        font-weight: 600;
    }
    h5 {
        margin-top: $spacing-unit;
        font-size: 1.2em;
        font-weight: 500;
    }

    li {
        margin-bottom: $spacing-unit / 5;
    }

    .alert h4 {
        margin-top: 0;
    }
     .alert p {
        font-size: 0.9em;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
p code,
li code {
    padding: 0.1em 0.3em;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: $code-bg-color;
    font-size: 0.9em;
}


/**
 * Header
 */

.site-header {
    padding: 110px 0 100px 0;
    &.has-search-form {
        padding-bottom: 0;
    }
    a, a:visited {
        color: $text-color;
        font-size: 0.8em;
        font-weight: 600;
        display: inline-block;
        border: 1px solid #ddd;
        padding: 5px 14px !important;
        margin-right: 5px;
    }
    img {
        margin-top: -30px;
    }
    .site-title {
        font-size: 1.6em;
        border: none;
        padding: 0;

    }
}

#search-container {
    margin: 50px 0;
    #results-container {
        margin-bottom: 8px;
    }
}

/**
 * Content
 */
#post-sidebar aside {
    margin-bottom: $spacing-unit;
    margin-left: $spacing-unit/2;
    &:not(:first-child) {
        padding-top: $spacing-unit;
    }
}

.aside-meta {
    font-size: 0.7em;
    color: $grey-color;

}

.alert-note {
    @extend .alert-warning;
}
.alert-important {
    @extend .alert-danger;
}
.alert-tip {
    @extend .alert-success;
}

/**
 * Author
 */
.author {
	border-right: solid 1px $grey-color-light;
}
.author-avatar {
    margin-bottom: 0.5*$spacing-unit;
    img {
        float: left;
        max-width: 40%;
        margin-right: 8%;
        margin-bottom: 8%;
    }
}
.author-name {
	font-size: 0.9em;
    text-align: left;
}

/**
 * Share buttons
 */
aside.share-buttons {
    ul {
        margin: 0 !important;
        list-style-type: none;
        a {
            color: $text-color;
            font-size: 1em;
        }
        li {
            margin-bottom: 6px;
			font-size: 0.8em;
        }
    }
}


/**
 * Comments
 */
#disqus_thread {
    margin: 3*$spacing-unit 0 $spacing-unit;
}

/**
 * Footer
 */
footer.site-footer {
    text-align: center;
    padding: 26px 0;
    margin-top: 74px;
    p {
        font-size: 0.7em;
        color: $grey-color;

    }
    .fa {
        margin: 0 6px;
    }
    a {
        color: $grey-color !important;
        &:hover {
            color: $grey-color-light;
        }
    }
    .separator {
        font-size: 1em;
        color: $grey-color;

    }
}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
/**
 * Font awesome size
 */
.fa-2x{
	font-size: 1em !important;
}

.label-primary {
	background-color: #a2e2ef;
}

.label {
	line-height: 2;
}

.btn-default {
	border-color: $grey-color-light;
	border-radius: 55px !important;
}

.read-more {
	font-size: 0.7em;
	text-align: right;
	display: block;
}

.pager {
	font-size: 0.8em;
	font-weight: 600;
}

.nav-pills li a {
	border-radius: 55px;
}

.list-group-item{
	padding: 10px 15px 0 0;
	border: none;
}

.list-group-item:hover{
	background-color: white !important;
}
