strong {
    font-weight: 700;
    font-size: .95em;
}

/**
 * Links
 */
a:not(.btn),
a:not(.btn):visited,
a:not(.btn):active,
a:not(.btn):focus {
    color: $brand-color-3;
    text-decoration: none !important;
}

a:not(.btn):hover {
    color: $brand-color-3 !important;
    text-decoration: none !important;
}


