@media (min-width:970px) and (max-width: 2500px) {
    .container {
     width: $screen-md;
    }
}


/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}

.text-center {
    text-align: center;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm,
.vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}
.post-content img {
    @extend .img-responsive;
    margin: auto;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}

table {
    @extend .table;
    @extend .table-bordered;
    @extend .table-striped;
}

/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}
.post-meta {
    margin: 2.5*$spacing-unit 0 0;
    padding: 12px;
    border-top: 1px solid $grey-color-light;
    border-bottom: 1px solid $grey-color-light;
    ul.details {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .author-details {
        border-left: 1px solid $grey-color-light;
        h5 {
            font-weight: 500;
            margin-bottom: $spacing-unit/3;
        }
        h4 {
            margin-top: 0;
            font-weight: 600;
            span {
                padding-top: $spacing-unit/5;
                display: block;
                font-weight: 500;
                color: $grey-color;
                font-size: 0.8em;
            }
        }
        p {
            font-size: 0.9em;
        }
    }
}

ul.post-list {
    list-style-type: none;
    margin: 16px 0;
    li {
        margin-bottom: 16px;
        padding-left: 42px;
        h2 {
            margin: 0 0 0 -42px;
            text-transform: capitalize;
            i {
                width: 32px;
                text-align: center;
            }
            a {
                color: $text-color;
                &:hover {
                    color: $brand-color;
                }
            }
        }
        h4 {
            margin: ($spacing-unit / 4) 0 0 0;
            color: $brand-color-2;
            font-size: 75%;
            text-transform: uppercase;
        }
        p {
            margin-top: $spacing-unit / 2;
        }
    }
    .post-divider {
        height: 0px;
        margin: $spacing-unit 0;
        border-top: 1px dashed $grey-color-light;
    }
    .post-date {
        color: $grey-color;
        font-size: 75%;
        text-transform: uppercase;
    }
}

.topic {
    margin: 64px 0 0 0;
    text-transform: capitalize;
}

ul.howtos-list {
    list-style-type: none;
    margin: 16px 0;
    li a {
        margin-bottom: 16px;
        padding-left: 64px;
        color: $text-color;
        h4 {
            color: $text-color;
            margin: 0 0 0 64px;
            text-transform: capitalize;
            i {
                margin-left: -42px;
                width: 21px;
                text-align: center;
            }
        }
        &:hover {
            color: $brand-color;
        }
        .subtitle {
            margin: 0 0 0 50px;
            color: $brand-color-2;
            font-size: 75%;
            text-transform: uppercase;
        }
    }
}


/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

.post-header {
    margin: 2*$spacing-unit 0 2.5*$spacing-unit;
    text-align: center;

    h1 {
        font-size: 3em;
        font-weight: 400;
        letter-spacing: -1px;
        line-height: 1;
        margin: 0;
        text-transform: capitalize;
    }
    h3 {
        font-size: 1.3em;
        margin: 0.5*$spacing-unit 0 0 0;
    }
}
.post-content {
    h2 {
        font-size: 2.5em;
        font-weight: 500;
        margin: 2*$spacing-unit 0 $spacing-unit;
        padding-bottom: $spacing-unit / 3;
        border-bottom: 1px solid $grey-color;
    }
    h3 {
        font-size: 1.8em;
        font-weight: 400;
        margin: 1.5*$spacing-unit 0 $spacing-unit;
    }
    h4 {
        font-size: 1.2em;
        font-weight: 600;
    }
}

/**
 * Links
 */
a,
a:visited {
    //color: $brand-color;
    text-decoration: none;
/*
    &:visited {
        color: darken($brand-color, 15%);
    }*/

    &:hover {
        //color: $brand-color-2;
        text-decoration: none;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
p code,
li code {
    padding: 1px 5px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: $code-bg-color;
    color: #dd1144;
}


/**
 * Header
 */

.site-header {
    padding: $spacing-unit 0;
    a, a:visited {
        color: $text-color;
    }
    .site-title {
        font-size: 2em;
        font-family: monospace;
    }
}

/**
 * Content
 */

.aside-meta {
    font-size: 0.8em;
    color: $grey-color;
    text-transform: uppercase;
    text-align: center;
}

.alert-note {
    @extend .alert-warning;
}
.alert-important {
    @extend .alert-danger;
}
.alert-tip {
    @extend .alert-success;
}

/**
 * Author
 */
.author-avatar {
    margin-bottom: 0.5*$spacing-unit;
}
.author-name {
    text-align: center;
}

/**
 * Share buttons
 */
aside.share-buttons {
    ul {
        margin: 0 !important;
        list-style-type: none;
        a {
            color: $text-color;
        }
        li {
            margin-bottom: 6px;
        }
    }
}


/**
 * Comments
 */
#disqus_thread {
    margin: 3*$spacing-unit 0 $spacing-unit;
}

/**
 * Footer
 */
footer.site-footer {
    border-top: 1px solid $text-color;
    text-align: center;
    padding: 26px 0;
    margin-top: 74px;
    p {
        font-size: 85%;
    }
    .fa {
        margin: 0 6px;
    }
    a {
        color: $text-color;
        &:hover {
            color: $brand-color-2;
        }
    }
}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

