---
layout: default
---

{% assign post = page %}
{% if post.tags.size > 0 %}
    {% for post_tag in post.tags %}
        {% for data_tag in site.data.tags %}
            {% if data_tag.slug == post_tag %}
                {% assign tag = data_tag %}
                {% capture tags_content_temp %}{{ tags_content }} <a class="label label-primary" href="/tag/{{ tag.slug }}/">{{ tag.slug }}</a>{% endcapture %}
            {% endif %}
        {% endfor %}
        {% if tag.slug != post_tag %}
          {{ data_tag |json }}
          {% capture tags_content_temp %}{{ tags_content }} <span class="label label-primary">{{ post_tag }}</span>{% endcapture %}
        {% endif %}
        {% assign tags_content = tags_content_temp %}
    {% endfor %}
{% else %}
    {% assign tags_content = '' %}
{% endif %}

<div class="post">

  <div class="row">
    <div class="col-sm-12">

      <header class="post-header">
        <h1 class="post-title">{{ page.title | escape }}</h1>
        {% if page.subtitle %}
          <h3 class="post-subtitle">{{ page.subtitle | escape }}</h3>
        {% endif %}
      </header>

    </div>
  </div>


  <div class="row">
    <div id="post-sidebar" class="col-md-2">

      <aside class="author">
        {% include author-meta.html %}
      </aside>

      <aside class="post-meta-sidebar">
        {% include post-meta-sidebar.html %}
      </aside>

      <aside class="share-buttons">
        {% include share-buttons.html %}
      </aside>

    </div>

    <div class="col-md-10">

      <article class="post-content">

        {{ content }}

      </article>

      {% include translation-links.html %}

      {% include post-meta.html %}

    </div>
  </div>

  {% include disqus.html %}
</div>
