name: Build

on:
  push:
    branches:
      - master
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: true
          fetch-depth: 0

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.104.3'
          extended: true

      - name: Clean public directory
        run: rm -rf public

      - name: Build site
        run: hugo

      - name: Create a CNAME file mapping to our custom domain
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
        run: echo 'build.prestashop-project.org' > public/CNAME

      - name: Set up algolia CLI
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
        uses: algolia/setup-algolia-cli@master
        with:
          version: '1.2.1'
        env:
          ALGOLIA_APPLICATION_ID: ${{ secrets.BLOG_ALGOLIA_APPLICATION_ID }}
          ALGOLIA_ADMIN_API_KEY: ${{ secrets.BLOG_ALGOLIA_ADMIN_API_KEY }}

      - name: Update algolia index
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
        env:
          ALGOLIA_APPLICATION_ID: ${{ secrets.BLOG_ALGOLIA_APPLICATION_ID }}
          ALGOLIA_ADMIN_API_KEY: ${{ secrets.BLOG_ALGOLIA_ADMIN_API_KEY }}
        run: |
          algolia --version
          echo "Clear algolia blog index"
          algolia indices clear blog
          echo "Push new objects"
          algolia objects import blog -F public/algolia.ndjson 
          echo "Clean up"
          rm public/algolia.ndjson

      - name: Deploy
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: public

